.enter-margins {
  margin: 40px 1.5vw 1.5vw 1.5vw;
}

.display-margins {
  margin: 50px 1.5vw 0 1.5vw;
}

.edit-icon-style {
  cursor: pointer;
  margin: 0 15px 0 0;
}

.edit-icon-style:hover {
  transform: scale(1.25);
}

.trash-icon-style {
  cursor: pointer;
  margin: 0 0 0 15px;
}

.trash-icon-style:hover {
  transform: scale(1.25);
}

table {
  text-align: center;
}